%% -*- erlang -*-
%%---- BEGIN COPYRIGHT -------------------------------------------------------
%%
%% Copyright (C) 2013 Ulf Wiger. All rights reserved.
%%
%% This Source Code Form is subject to the terms of the Mozilla Public
%% License, v. 2.0. If a copy of the MPL was not distributed with this
%% file, You can obtain one at http://mozilla.org/MPL/2.0/.
%%
%%---- END COPYRIGHT ---------------------------------------------------------
%% Key contributor: Thomas Arts <thomas.arts@quviq.com>
%%
%%=============================================================================

{erl_first_files, ["src/locks_watcher.erl", "src/locks_leader.erl"]}.

%% == Deps ==
%%
{deps, [{plain_fsm, "1.4.1"}]}.

%% == Profiles ==
%%
{profiles, [{docs, [{deps, [{edown, "0.8.1"}]},
                    {edoc_opts, [{doclet, edown_doclet},
                                 {app_default, "http://www.erlang.org/doc/man"},
                                 {doc_path, []},
                                 {top_level_readme,
                                  {"./README.md","https://github.com/uwiger/locks"}}]}]}

           ]}.

{ct_opts, [{dir, ["test", "examples/src"]}]}.
